---
import { getCollection } from 'astro:content';
import ContactCTA from '../../components/ContactCTA.astro';
import Grid from '../../components/Grid.astro';
import Hero from '../../components/Hero.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const projects = (await getCollection('work', ({ id }) => id.startsWith('fr/'))).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

import { ui } from '../../i18n/ui';
const lang = Astro.url.pathname.includes('/en/') ? 'en' : 'fr';
const t = ui[lang];
---

<BaseLayout
	title={ui.fr['work.title']}
	description={ui.fr['work.desc']}
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={ui.fr['work.hero.title']}
				tagline={ui.fr['work.desc']}
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA title={ui.fr['contact.cta.title']} buttonText={ui.fr['contact.cta.text']} />
	</div>
</BaseLayout>
